<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
   <title>Home page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to home page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque placeat eum deserunt aspernatur omnis, repellendus minima aliquid blanditiis iure sunt labore nam. Assumenda debitis magnam ducimus quia deserunt at ratione?</p>
    </div>
    <script>
        console.log("home page");
    </script>
    
</body>
</html>