<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{})}">
<head>
    <title>Services</title>
</head>
<body>
    <section id="content">
        <h1>Welcome to services page</h1>
        <h2>Services offered by SCM</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi accusamus obcaecati corrupti ipsa aut hic nesciunt. Aut at quod dolorem libero ad, corporis magnam ipsam, nulla minus, debitis nesciunt consequuntur.<10></10>
    </section>

    
</body>
</html>